{% extends 'base.html' %}

{% block content %}
<h2>Add a New Cafe</h2>
<form action="{{ url_for('add_cafe') }}" method="post">
    <label for="name">Cafe Name:</label>
    <input type="text" id="name" name="name" required><br>

    <label for="location">Location:</label>
    <input type="text" id="location" name="location" required><br>

    <label for="wifi_strength">WiFi Strength (1-5):</label>
    <input type="number" id="wifi_strength" name="wifi_strength" min="1" max="5" required><br>

    <label for="power_availability">Power Availability:</label>
    <input type="checkbox" id="power_availability" name="power_availability"><br>

    <button type="submit">Add Cafe</button>
</form>
{% endblock %}
